<div class="login-container">
  
  <div class="form-panel">
    <div class="form-content">
      <h2>Bem-vindo de volta!</h2>
      <p class="form-description">Acesse sua conta para continuar.</p>
      
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="seu@email.com">
          <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)" class="error-message">
            <span *ngIf="form.email.errors?.['required']">O email é obrigatório.</span>
            <span *ngIf="form.email.errors?.['email']">Por favor, insira um email válido.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" id="senha" formControlName="senha" class="form-control" placeholder="Sua senha">
            <div *ngIf="form.senha.invalid && (form.senha.dirty || form.senha.touched)" class="error-message">
            A senha é obrigatória.
          </div>
        </div>

        <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
          Entrar
        </button>
        
      </form>
    </div>
  </div>

  <div class="info-panel">
    <div class="info-content">
      <div class="logo-placeholder">
        <img src="../../../../assets/img/capa.png" alt="Logo do Acre Visita">
      </div>
      <p class="footer-text">Não tem uma conta? <a routerLink="/cadastro-visitante"><b>Cadastre-se</b></a></p>
    </div>
  </div>

</div>